#home-conatiner{
    display: flex;

    #feed-posts {
        width: 70%;
        padding:10px;

    }
    #user-friends{
        width: 38%;
        padding: 10px;
        border-left: 1px solid lightcoral;
        height: 100%;
    }
}